<p id="notice"><%= notice %></p>

<h1>Polls</h1>
<a href="javascript:void(0);" class="batch_number_dropdown_items row_hover" id="" onclick="updateIndex()">Add Form</a>
<%= form_tag('/selected_polls', method: :post) do %>
  <table>
    <thead>
      <tr>
        <th><input name="select_all" value="1" type="checkbox" onclick="selectAll(this.checked)"></th>
        <th>Title</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
  <%= submit_tag "Submit" %>
<% end %>
<br>

<%= link_to 'New Poll', new_poll_path %>